@model Valorizaciones.Models.Partida_unidadesModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>perfil</title>
</head>
<body>
    <div>
        <h4>Detalle de partida</h4>
        <hr />
        <dl class="dl-horizontal">                
            <dt>
                @Html.DisplayNameFor(model => model.partida)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.partida)
            </dd>                                
    
            <dt>
                @Html.DisplayNameFor(model => model.unidad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.unidad)
            </dd>               
    
        </dl>
    </div>    
</body>
</html>
